.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 1;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.image.loading {
  opacity: 0;
}

.image.loaded {
  opacity: 1;
}

.imageWrapper:has(.image.loaded) .placeholder {
  opacity: 0;
  pointer-events: none;
}

